* {
    margin: 0;
    padding: 0;
}

span {
    font-size: 15px;
    margin-top: 5vh;
    font-family: "Montserrat";
    cursor: default;
}

span a {
    text-decoration: none;
    font-weight: bold;
    color: #F29292;
}

span a:hover {
    color: #e66969;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-family: "Montserrat";
}

.div-content {
    color: #241F21;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh auto 8vh auto;
    padding: 2vw;
    border: 2px solid rgb(46, 44, 44);
    border-radius: 25px;
    width: 40vw;
    background-color: rgb(250, 250, 250);
}

.div-content h1 {
    font-family: "Fredoka";
    margin-bottom: 5vh;
    cursor: default;
}

.conjunto {
    margin: 0 0 2.5vh 0;
}

.conjunto label {
    font-weight: bold;
    font-size: 14px;
}

.conjunto input {
    font-family: "Montserrat";
    border-radius: 10px;
    border: 1px lightgrey solid;
    margin: 2.5vh 0 2vh 0;
    padding: 0.7vw;
    width: 30vw;
}

.conjunto input:hover {
    background-color: rgb(230, 230, 230);
}

.div-content button {
    width: 35vw;
    height: 7vh;
    border-radius: 10px;
    background-color: #C8BFE7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3vh;
}

#foto-perfil input {
    font-family: "Montserrat", sans-serif;
    border-radius: 0.5rem;
    border: 1px lightgrey solid;
    margin: 0.6rem 0 0.6rem 0;
    padding: 0.5rem;
    width: 96%;
    
}

#criar {
    width: 449px;
    height: 39px;
    border-radius: 0.5rem;
    background-color: #C8BFE7;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 1rem 0 0 0;
    font-weight: bold;
    align-self: center;
}